@media all and (max-width: 1524px) {
  .frist__section .header__content {
    margin: auto;
    width: 61%;
    margin-right: 60px;
  }
  .protfolio__section .protfolio_bottom {
    width: 53%;
  }
  .frist__section {
    height: 65vh;
  }
}

@media all and (max-width: 1210px) {
  .frist__section {
    overflow: auto;
  }
  .frist__section .header__content {
    float: right;
    margin: auto;
    width: 55%;
  }
  .frist__section .header__content h1 {
    font-size: 45px;
    line-height: 50px !important;
  }
  .frist__section {
    height: 55vh;
  }
  .footer__top__section .footer_main_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__top__section .footer_main_row .footer__item {
    width: 45%;
  }
}

@media all and (max-width: 1140px) {
  .frist__section {
    height: 90vh;
    background: url(../image/headerbg.png), #fddd2f;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
  .frist__section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.411);
  }
  .frist__section .header__content {
    float: none;
    text-align: center;
    width: 85%;
  }
  .frist__section .header__content h1 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    line-height: 36px !important;
  }
  .frist__section .header__content p {
    color: #fafafa;
    font-weight: 300;
    padding: 0 90px;
  }
  .frist__section .header__content a {
    color: #fff;
    border-color: #fff;
  }
  .frist__section .header__content a::before {
    background: rgba(255, 255, 255, 0.274);
  }
  .frist__section .header__content a:hover {
    color: #fddd2f;
    border-color: #fddd2f;
  }
  .protfolio__section .protfolio_bottom {
    width: 76%;
  }
  footer p {
    font-size: 16px !important;
  }
  footer div.text-end {
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer div.text-end ul li {
    padding: 5px 10px;
  }
  footer div.text-end ul li a {
    font-size: 16px;
  }
  .protfolio__section {
    padding: 60px 40px 0 40px;
  }
  .frist__section {
    height: 55vh;
  }
}

#mobile_menu {
  display: none;
}

.navbar-brand h1 {
  display: none;
}

@media all and (max-width: 1081px) {
  .frist__section {
    height: 49vh;
  }
}

@media all and (max-width: 1000px) {
  .sticky-top {
    display: none;
  }
  nav#navbar {
    position: relative;
    background: #333 !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav#navbar .navbar-brand img {
    display: none;
  }
  nav#navbar .navbar-brand h1 {
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 45px;
  }
  nav#navbar .navbar-brand h1::first-letter {
    color: #fddd2f;
    text-transform: uppercase;
  }
  nav#navbar .navbar-brand h1 span {
    display: inline-block;
    color: red;
  }
  #mobile__menu__toggle {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #4c4c4c;
  }
  #mobile__menu__toggle label {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mobile__menu__toggle label::before {
    content: '\f0c9';
    font-family: 'font awesome 5 free';
    font-weight: 600;
    color: #fff;
    text-align: center;
    position: absolute;
    font-size: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  #mobile__menu__toggle label::after {
    content: '\f00d';
    font-family: 'font awesome 5 free';
    font-weight: 600;
    color: #fff;
    text-align: center;
    position: absolute;
    font-size: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
  }
  #mobile_menu:checked ~ .nav-pills {
    opacity: 1;
    visibility: visible;
    height: 100vh !important;
  }
  #mobile_menu:checked + #mobile__menu__toggle label::before {
    opacity: 0;
    visibility: hidden;
  }
  #mobile_menu:checked + #mobile__menu__toggle label::after {
    opacity: 1;
    visibility: visible;
  }
  #navbar {
    display: block;
  }
  .nav-pills {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    z-index: 44;
    background: #4c4c4c;
    width: 100%;
    padding: 15px 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 0;
    resize: vertical;
    text-align: left !important;
  }
  .nav-pills li {
    margin: 10px 0 !important;
    padding: 0 17px !important;
    display: block;
  }
  .nav-pills li a {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    padding: 7px 15px !important;
    display: block;
    color: rgba(221, 221, 221, 0.87) !important;
  }
  .nav-pills li a::before {
    content: '';
    display: none;
  }
  .nav-pills li a:hover {
    color: #ffff;
    background: #333333;
  }
  .nav-pills li .active {
    color: #ffff !important;
    background: #333333 !important;
  }
  #mobile_menu:checked ~ .nav-pills {
    opacity: 1;
    visibility: visible;
    height: 49vh !important;
  }
}

@media all and (max-width: 900px) {
  footer {
    padding: 50px 30px;
  }
}

@media all and (max-width: 769px) {
  .frist__section .header__content h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .frist__section .header__content p {
    color: #fafafa;
    font-weight: 300;
    padding: 0 32px;
    font-size: 15px;
  }
  .frist__section {
    height: 44vh;
  }
  .frist__section .header__content a {
    padding: 9px 62px;
    font-size: 16px;
  }
  .footer__top__section {
    padding: 51px 6px;
  }
  footer p {
    font-size: 14px !important;
  }
  .protfolio__section .protfolio_bottom {
    width: 90%;
  }
  footer {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #navbar {
    padding: 0 40px !important;
  }
  #mobile_menu:checked ~ .nav-pills {
    opacity: 1;
    visibility: visible;
    height: 44vh !important;
  }
}

body > .material-scrolltop {
  display: none;
}

@media all and (max-width: 768px) {
  #scrool_to_top {
    display: none;
  }
  body > .material-scrolltop {
    display: block;
    position: fixed;
  }
  body > .material-scrolltop.reveal {
    width: 49px;
    height: 49px;
  }
  .protfolio__section .protfolio_bottom h6 {
    line-height: 40px;
    font-size: 32px;
  }
  footer > div {
    text-align: center;
    width: 43%;
  }
  .protfolio__section {
    padding: 60px 40px 0 40px;
  }
}

@media all and (max-width: 644px) {
  .footer_main_row .footer__item {
    width: 100% !important;
  }
  .protfolio__section .protfolio_bottom {
    width: 100% !important;
  }
}

@media all and (max-width: 502px) {
  .protfolio__section {
    padding: 60px 0 0 0;
  }
  html {
    font-size: 14px !important;
  }
  .protfolio__section .protfolio_bottom h6 {
    line-height: 25px;
    font-size: 18px;
  }
  .protfolio__section .protfolio_bottom {
    width: 100% !important;
    padding: 30px 0;
  }
  .footer__top__section .footer__item h1 {
    font-size: 55px;
  }
  .frist__section .header__content h1 {
    font-size: 25px !important;
    line-height: 27px !important;
    margin-bottom: 20px;
  }
  .frist__section .header__content p {
    display: none;
  }
  .frist__section {
    height: 34vh;
  }
  #navbar {
    padding: 6px 30px !important;
  }
  nav#navbar .navbar-brand h1 {
    font-size: 30px;
  }
  .nav-pills li {
    margin: 3px 0 !important;
  }
  .frist__section {
    height: 54vh;
  }
  #mobile_menu:checked ~ .nav-pills {
    height: 54vh !important;
  }
}

@media all and (max-width: 446px) {
  .frist__section .header__content a {
    padding: 5px 45px;
    margin-top: 10px;
    font-size: 15px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 22px;
  }
  footer > div {
    width: 100%;
  }
  footer > div p {
    text-align: center;
  }
  footer div.text-end {
    text-align: center !important;
  }
  footer .one {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .f__item {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 10px;
  }
  .frist__section {
    height: 54vh;
  }
  .protfolio__section {
    padding: 3px 0 0 0;
  }
  #mobile_menu:checked ~ .nav-pills {
    height: 54vh !important;
  }
}

@media all and (max-width: 280px) {
  .footer__top__section .footer__item h1 {
    font-size: 44px;
  }
  .frist__section .header__content h1 {
    font-size: 18px !important;
    line-height: 20px !important;
  }
  .frist__section {
    height: 26vh;
  }
  #mobile_menu:checked ~ .nav-pills {
    height: 26vh !important;
  }
}
/*# sourceMappingURL=responsive.css.map */